*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

target/
!.mvn/wrapper/maven-wrapper.jar
bin/
.gradle
out/
gradle
gradlew
gradlew.bat


.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

.idea
*.iws
*.iml
*.ipr

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/.metadata/
/.recommenders/
